@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Black.woff2") format("woff2"), url("../fonts/Gelion-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-BlackItalic.woff2") format("woff2"), url("fonts/Gelion-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Bold.woff2") format("woff2"), url("../fonts/Gelion-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-BoldItalic.woff2") format("woff2"), url("../fonts/Gelion-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Light.woff2") format("woff2"), url("../fonts/Gelion-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-LightItalic.woff2") format("woff2"), url("../fonts/Gelion-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Medium.woff2") format("woff2"), url("../fonts/Gelion-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-MediumItalic.woff2") format("woff2"), url("../fonts/Gelion-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Regular.woff2") format("woff2"), url("../fonts/Gelion-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion Regular';
  src: url("../fonts/Gelion-RegularItalic.woff2") format("woff2"), url("../fonts/Gelion-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion Semi';
  src: url("../fonts/Gelion-SemiBold.woff2") format("woff2"), url("../fonts/Gelion-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion Semi';
  src: url("../fonts/Gelion-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gelion-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Thin.woff2") format("woff2"), url("../fonts/Gelion-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-ThinItalic.woff2") format("woff2"), url("../fonts/Gelion-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.nav .container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  text-transform: uppercase;
  color: #035755;
}

.nav .container .nav-logo img {
  width: 63px;
  height: auto;
  margin-right: 10px;
}

.nav .container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .container .nav-list .nav-itm .nav-link {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #035755;
  margin: 0 20px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .container .nav-list .nav-itm .nav-link::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FA5652;
  color: #FA5652;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-1000%);
          transform: translateX(50%) translateY(-1000%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .container .nav-list .nav-itm .nav-link:hover {
  color: #FA5652;
}

.nav .container .nav-list .nav-itm .nav-link:hover::after {
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
}

.nav .container .nav-list .nav-itm .nav-link:active::after {
  -webkit-transform: translateY(370%);
          transform: translateY(370%);
}

.nav .container .nav-list .nav-itm .nav-contact {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FF383D;
  border: 2px solid #FB4C47;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 46px;
  padding: 16px 45px;
  margin-left: 20px;
}

.header {
  background-image: url("../img/ill_1.png"), -webkit-gradient(linear, left bottom, left top, from(white), to(#FFF8F8));
  background-image: url("../img/ill_1.png"), linear-gradient(0deg, white, #FFF8F8);
  background-repeat: no-repeat;
  background-size: 50%, 100%;
  background-position: center right, center;
}

.header .padding {
  padding: 220px 0;
}

.header .container .box {
  width: 60%;
}

.header .container .box .header-title {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 139%;
  text-transform: capitalize;
  color: #035755;
}

.header .container .box .alert {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #FA5652;
}

.header .container .box .header-info {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  margin-top: 28px;
  margin-bottom: 54px;
}

.header .container .box .header-link {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #FB4C47;
  -webkit-box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  padding: 24px 57px;
}

.coronavirus .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coronavirus .container img {
  width: 50%;
  height: auto;
  -webkit-transform: rotate(-10.07deg);
          transform: rotate(-10.07deg);
}

.coronavirus .container .corona-box {
  width: 48%;
}

.coronavirus .container .corona-box .corona-subtitle {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #FA5652;
}

.coronavirus .container .corona-box .corona-title {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 139%;
  text-transform: capitalize;
  color: #035755;
}

.coronavirus .container .corona-box .corona-text {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  margin-top: 18px;
  margin-bottom: 55px;
}

.coronavirus .container .corona-box .corona-link {
  font-family: Gelion;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FA5652;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  padding: 21px 49px;
}

.coronavirus .corona-2 {
  margin-top: 100px;
}

.coronavirus .corona-2 .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/virus_3.png");
  background-repeat: no-repeat;
  background-position: bottom 20px left;
}

.coronavirus .corona-2 .container .corona-title {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 139%;
  text-transform: capitalize;
  color: #035755;
  text-align: center;
}

.coronavirus .corona-2 .container .corona-subtitle {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #FA5652;
}

.coronavirus .corona-2 .container .corona-text {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  text-align: center;
  width: 65%;
  margin-top: 18px;
}

.coronavirus .corona-2 .container .corona-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px;
}

.coronavirus .corona-2 .container .corona-list .corona-itm {
  width: 30%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border-bottom: 6px solid #fff;
  padding: 55px 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.coronavirus .corona-2 .container .corona-list .corona-itm img {
  width: 230px;
  height: auto;
}

.coronavirus .corona-2 .container .corona-list .corona-itm strong {
  font-family: Gelion;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
  margin-top: 40px;
  margin-bottom: 12px;
}

.coronavirus .corona-2 .container .corona-list .corona-itm .minus-m {
  margin-top: -40px;
}

.coronavirus .corona-2 .container .corona-list .corona-itm .minus-m2 {
  margin-top: -20px;
}

.coronavirus .corona-2 .container .corona-list .corona-itm p {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  font-size: 15px;
  width: 100%;
  margin-bottom: 0;
  line-height: auto;
}

.coronavirus .corona-2 .container .corona-list .corona-itm:hover {
  -webkit-box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-color: #FA5652;
}

.symptoms .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.symptoms .container img {
  width: 90%;
  height: auto;
}

.symptoms .container .symptoms-subtitle {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #FA5652;
  text-align: center;
}

.symptoms .container .symptoms-title {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 139%;
  text-transform: capitalize;
  color: #035755;
  text-align: center;
}

.symptoms .container .symptoms-text {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  text-align: center;
  width: 76%;
}

.should {
  margin-top: 100px;
}

.should .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.should .container .subtitle-should {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122%;
  color: #FA5652;
  text-align: center;
}

.should .container .should-title {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 139%;
  text-transform: capitalize;
  color: #035755;
  text-align: center;
}

.should .container .should-text {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  text-align: center;
  width: 70%;
  margin-top: 18px;
}

.should .container .should-list .should-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.should .container .should-list .should-itm:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.should .container .should-list .should-itm .should-right {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.should .container .should-list .should-itm .should-right .should-number {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #FA5652;
  padding: 10px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 50%;
  margin-right: 35px;
  display: inline-block;
  height: auto;
}

.should .container .should-list .should-itm .should-right .span__ .should-number {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  text-transform: capitalize;
  color: #FA5652;
  padding: 10px 15px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 50%;
  margin-right: 35px;
  display: inline-block;
  height: auto;
}

.should .container .should-list .should-itm .should-right .span__ .should-number:first-child {
  padding: 10px 19px;
}

.should .container .should-list .should-itm .should-right .span__ .should-number:nth-child(3) {
  padding: 10px;
}

.should .container .should-list .should-itm .should-right .should-right-bottom .should-strong {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
  margin-bottom: 15px;
}

.should .container .should-list .should-itm .should-right .should-right-bottom .should-itm-text {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
  text-align: left;
}

.should .container .should-list .should-itm .girl-img {
  width: 50%;
  height: auto;
}

.map .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map .container .map-btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
          box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
  border-radius: 5px;
}

.map .container .map-btns .minus-button {
  border-top: 1px solid #A2A5B2;
  border-bottom: 1px solid #A2A5B2;
}

.map .container .map-btns button {
  margin: 5px 0;
  padding: 5px;
  font-size: 24px;
  background: none;
  border: hidden;
}

.map .container .map-btns img {
  width: 19px;
  height: auto;
}

.map .container .map-box {
  width: 35%;
}

.map .container .map-box .search-map input {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.map .container .map-list-div {
  padding: 40px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-79.45%, #FFFBFB), color-stop(105.35%, #FDFDFD));
  background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
  -webkit-box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
  border-radius: 0px;
}

.map .container .map-list-div .live-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .container .map-list-div .live-report .buttons-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
          box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
  border-radius: 6.16667px;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map .container .map-list-div .live-report button {
  border: none;
  background: none;
  padding: 0 10px;
  color: #A2A5B2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.map .container .map-list-div .live-report button:hover {
  color: #F44A45;
}

.map .container .map-list-div .live-report button:last-child {
  border-left: 2.23px solid #DEE1ED;
}

.map .container .map-list-div .reports {
  font-family: Gelion;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  color: #035755;
  text-transform: capitalize;
}

.map .container .map-list-div .buttons-box button {
  outline: none;
  cursor: pointer;
}

.map .container .map-list-div .flags-list .flag-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.map .container .map-list-div .flags-list .flag-itm .small-flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .container .map-list-div .flags-list .flag-itm .small-flag img {
  margin-right: 24px;
  width: 48px;
  height: auto;
  display: inline-block;
}

.map .container .map-list-div .flags-list .flag-itm .small-flag strong {
  font-family: Gelion;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #13615F;
}

.map .container .map-list-div .flags-list .flag-itm .patients {
  font-family: Gelion;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: #035755;
}

.map .container .map-list-div .flags-list .flag-itm .patients i {
  color: #F44A45;
  margin-left: 15px;
}

.map .container .map-list-div .flags-list .flag-itm .to-down i {
  color: #128E5A;
}
/*# sourceMappingURL=style.css.map */