@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Black.woff2') format('woff2'),
        url('../fonts/Gelion-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-BlackItalic.woff2') format('woff2'),
        url('fonts/Gelion-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Bold.woff2') format('woff2'),
        url('../fonts/Gelion-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gelion-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Light.woff2') format('woff2'),
        url('../fonts/Gelion-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-LightItalic.woff2') format('woff2'),
        url('../fonts/Gelion-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Medium.woff2') format('woff2'),
        url('../fonts/Gelion-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gelion-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Regular.woff2') format('woff2'),
        url('../fonts/Gelion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion Regular';
    src: url('../fonts/Gelion-RegularItalic.woff2') format('woff2'),
        url('../fonts/Gelion-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion Semi';
    src: url('../fonts/Gelion-SemiBold.woff2') format('woff2'),
        url('../fonts/Gelion-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion Semi';
    src: url('../fonts/Gelion-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Gelion-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-Thin.woff2') format('woff2'),
        url('../fonts/Gelion-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('../fonts/Gelion-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gelion-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;

}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.nav {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;

        .nav-logo {
            display: flex;
            align-items: center;

            img {
                width: 63px;
                height: auto;
                margin-right: 10px;
            }

            font-family: 'Gelion';
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 25px;
            text-transform: uppercase;
            color: #035755;

        }

        .nav-list {
            display: flex;
            align-items: center;

            .nav-itm {
                .nav-link {
                    font-family: 'Gelion';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #035755;
                    margin: 0 20px;
                    position: relative;
                    transition: all 0.3s;

                    &::after {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #FA5652;
                        color: #FA5652;
                        position: absolute;
                        right: 50%;
                        transform: translateX(50%) translateY(-1000%);
                        transition: all 0.3s;
                    }

                    &:hover {
                        color: #FA5652;
                    }

                    &:hover::after {
                        transform: translateY(500%);
                    }

                    &:active::after {
                        transform: translateY(370%);
                    }
                }

                .nav-contact {
                    font-family: 'Gelion';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FF383D;
                    border: 2px solid #FB4C47;
                    box-sizing: border-box;
                    border-radius: 46px;
                    padding: 16px 45px;
                    margin-left: 20px;
                }
            }
        }
    }
}

@mixin titles {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 139%;
    text-transform: capitalize;
    color: #035755;
}

@mixin subtitles {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 122%;
    color: #FA5652;
}

@mixin texts {
    font-family: 'Gelion';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 190%;
    text-transform: capitalize;
    color: #4B4F51;
}

.header {
    background-image: url("../img/ill_1.png"), linear-gradient(0deg, rgb(255, 255, 255), #FFF8F8);
    background-repeat: no-repeat;
    background-size: 50%, 100%;
    background-position: center right, center;

    .padding {
        padding: 220px 0;

    }

    .container {
        .box {
            width: 60%;

            .header-title {
                @include titles;
            }

            .alert {
                @include subtitles;
            }

            .header-info {
                @include texts;
                margin-top: 28px;
                margin-bottom: 54px;
            }

            .header-link {
                font-family: 'Gelion';
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-transform: capitalize;
                color: #FFFFFF;
                background: #FB4C47;
                box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
                border-radius: 65px;
                padding: 24px 57px;
            }
        }
    }
}

.coronavirus {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 50%;
            height: auto;
            transform: rotate(-10.07deg);

        }

        .corona-box {
            width: 48%;

            .corona-subtitle {
                @include subtitles;
            }

            .corona-title {
                @include titles;
            }

            .corona-text {
                @include texts;
                margin-top: 18px;
                margin-bottom: 55px;
            }

            .corona-link {
                font-family: Gelion;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FA5652;
                background: rgba(250, 86, 82, 0.15);
                border-radius: 65px;
                padding: 21px 49px;
            }
        }
    }

    .corona-2 {
        margin-top: 100px;

        .container {
            flex-direction: column;

            .corona-title {
                @include titles;
                text-align: center
            }

            .corona-subtitle {
                @include subtitles;
            }

            .corona-text {
                @include texts;
                text-align: center;
                width: 65%;
                margin-top: 18px;
            }

            background-image: url("../img/virus_3.png");
            background-repeat: no-repeat;
            background-position: bottom 20px left;

            .corona-list {
                display: flex;
                justify-content: center;
                margin-top: 100px;
                margin-bottom: 140px;
                justify-content: space-around;
                padding: 0 30px;

                .corona-itm {
                    width: 30%;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
                    border-radius: 10px;
                    border-bottom: 6px solid #fff;
                    padding: 55px 40px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: all .5s;

                    img {
                        width: 230px;
                        height: auto;
                    }

                    strong {
                        font-family: Gelion;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 147%;
                        text-transform: capitalize;
                        color: #035755;
                        margin-top: 40px;
                        margin-bottom: 12px;
                    }

                    .minus-m {
                        margin-top: -40px;
                    }

                    .minus-m2 {
                        margin-top: -20px;
                    }

                    p {
                        @include texts;
                        font-size: 15px;
                        width: 100%;
                        margin-bottom: 0;
                        line-height: auto;
                    }

                    &:hover {
                        box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
                        border-color: #FA5652;
                    }
                }
            }
        }
    }
}

.symptoms {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 90%;
            height: auto;
        }

        .symptoms-subtitle {
            @include subtitles;
            text-align: center;
        }

        .symptoms-title {
            @include titles;
            text-align: center;
        }

        .symptoms-text {
            @include texts;
            text-align: center;
            width: 76%;
        }
    }
}

.should {
    margin-top: 100px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subtitle-should {
            @include subtitles;
            text-align: center;
        }

        .should-title {
            @include titles;
            text-align: center;
        }

        .should-text {
            @include texts;
            text-align: center;
            width: 70%;
            margin-top: 18px;
        }

        .should-list {
            .should-itm {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }

                .should-right {
                    width: 49%;
                    display: flex;

                    .should-number {
                        font-family: 'Gelion';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 145%;
                        text-transform: capitalize;
                        color: #FA5652;
                        padding: 10px;
                        background: rgba(250, 86, 82, 0.15);
                        border-radius: 50%;
                        margin-right: 35px;
                        display: inline-block;
                        height: auto;
                    }

                    .span__ {
                        .should-number {
                            font-family: 'Gelion';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 44px;
                            line-height: 145%;
                            text-transform: capitalize;
                            color: #FA5652;
                            padding: 10px 15px;
                            background: rgba(250, 86, 82, 0.15);
                            border-radius: 50%;
                            margin-right: 35px;
                            display: inline-block;
                            height: auto;
                        }

                        .should-number:first-child {
                            padding: 10px 19px;
                        }

                        .should-number:nth-child(3) {
                            padding: 10px;
                        }
                    }

                    .should-right-bottom {
                        .should-strong {
                            font-family: 'Gelion';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 47px;
                            line-height: 147%;
                            text-transform: capitalize;
                            color: #035755;
                            margin-bottom: 15px;
                        }

                        .should-itm-text {
                            @include texts;
                            text-align: left;
                        }
                    }
                }

                .girl-img {
                    width: 50%;
                    height: auto;
                }

            }
        }

    }
}

.map {
    .container {
        display: flex;
        justify-content: space-between;

        .map-btns {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            .minus-button{
                border-top: 1px solid #A2A5B2;
                border-bottom: 1px solid #A2A5B2;
            }
            button {
                margin: 5px 0;
                padding: 5px;
                font-size: 24px;
                background: none;
                border: hidden;
            }

            padding: 22px 25px;
            background: #FFFFFF;
            box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
            border-radius: 5px;

            img {
                width: 19px;
                height: auto;
            }
        }

        .map-box {
            width: 35%;

            .search-map {
                input {
                    overflow: hidden;
                    width: 1px;
                    height: 1px;
                }
            }

        }

        .map-list-div {
            .live-report {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .buttons-box {
                    background: #FFFFFF;
                    box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
                    border-radius: 6.16667px;
                    padding: 15px 10px;
                    display: flex;

                }

                button {
                    border: none;
                    background: none;
                   padding: 0 10px;
                   color: #A2A5B2;
                    transition: all 0.5s;
                   &:hover{
                       color: #F44A45;
                   }
                   
                }
                button:last-child{
                    border-left: 2.23px solid #DEE1ED;
                    
                }
            }

            .reports {
                font-family: Gelion;
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 58px;
                color: #035755;
                text-transform: capitalize;
            }

            .buttons-box {
                button {
                    outline: none;
                    cursor: pointer;
                }
            }

            padding: 40px;
            background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
            box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
            border-radius: 0px;

            .flags-list {


                .flag-itm {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;

                    .small-flag {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 24px;
                            width: 48px;
                            height: auto;
                            display: inline-block;
                        }

                        strong {
                            font-family: Gelion;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            color: #13615F;
                        }
                    }


                    .patients {
                        font-family: Gelion;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        text-align: right;
                        color: #035755;
                        i{
                            color:   #F44A45 ;
                            margin-left: 15px;
                        }
                    }
                    .to-down{
                        i{
                            color: #128E5A  ;
                        }
                    }
                }
            }
        }
    }
}